<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMkKGsze91nCjszkNBvlfiSL2wwSYV188</string>
	<key>GCM_SENDER_ID</key>
	<string>700047185713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quantus.mobile-wallet</string>
	<key>PROJECT_ID</key>
	<string>quantus-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>quantus-wallet.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700047185713:ios:4689e532e8a4f174d98210</string>
</dict>
</plist>